#######################################################################################
# Nom du module : requirements.txt
#
# Créé le     : 02/08/2022 10:24:00
# Créé par    : Lenny Delgado
# -------------------------------------------------------------------------------------
# Description : Liste des librairies python nécessaires pour Myd
# -------------------------------------------------------------------------------------
# Historique  :
#
#  20220408 [LD]   : Démmarage avec le requirements.txt initial de mon projet Myd
#
#######################################################################################

# Installation des dépendances de Myd project
mkdocs>=1.3.0
mkdocs-material-extensions>=1.0.3
mkdocs-material==8.2.5
pymdown-extensions>=9.0

# Typer à part entière
typer[all]>=0.6.1

# Spécifique Lenny pour affichage
termcolor>=1.1.0
